---
import HeaderLink from "./HeaderLink.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";
---

<header class="py-6 sticky top-0 backdrop-blur-lg">
  <nav class="flex items-center justify-between">
    <div class="flex gap-4">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
    </div>
    <ThemeSwitcher />
  </nav>
</header>
