---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
const inPage = isActive ? "#" : href;

const style =
  "inline-bloc " +
  (isActive
    ? " font-bold"
    : "hover:text-blue-500 transition-[var(--default-transition)]");
---

<a href={inPage} class:list={[className, style]} {...props}>
  <slot />
</a>
