---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

interface Props {
  title?: string;
  description?: string;
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<!DOCTYPE html>
<html lang="es" data-theme="dark">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body
    class="bg-page-bg text-primary-text m-auto py-2 px-6 text-left break-words max-w-prose"
  >
    <Header />
    <slot />
  </body>
</html>
